.main-content2, .main-content {
    position: relative;
}
.custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.main-content2 .owl-theme .custom-nav .owl-prev, .main-content2 .owl-theme .custom-nav .owl-next,
.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.owl-prev i, .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}